@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

::-webkit-scrollbar {
  /* cursor: pointer; */

  width: 8px;
}

::-webkit-scrollbar-track {
  /* cursor: pointer; */
  background: #555;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #242424;
}
